.btn{
  background-color: transparent;
  color: $color-1;
  border: 1px solid $color-1;
  font-size: 1.6rem;
  padding: .5rem 1rem;

  &:hover{
    color: transparent;
    background-color: $color-1;
  }



}

.nav-btn{
  font-size: 1.7rem;
  padding: 1rem .8rem 1rem .3rem;
  border-left: none;
  color: $color-2;
  background-color: $color-1;

  @media(min-width: $md){
    font-size: 2.4rem;
    padding: 1.5rem 1rem 1.5rem 1rem;
    border-left: 1px solid $color-1
  }

}

.card-btn{
  padding: 1rem;
  background-color: $color-2;
}


.header-container{
  text-align: center;
  h2{
    font-size: 2.9rem;
    margin: 2rem 0;
  }
}

p{
  font-size: 1.8rem;
}



//animations

@keyframes fadeInOut{
  0%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes translateLeft {
  0%{
    transform: translateX(0)
  }

  100%{
    transform: translateX(-65vw)
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
