.btn{
  background-color: transparent;
  color: $color-1;
  border: 1px solid $color-1;
  font-size: 1.6rem;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: all .15s ease-in;


}



.card-btn{
  padding: 1rem;
  background-color: $color-2;
}


.header-container{
  text-align: center;
  margin-top: 3rem;
  h2{
    font-size: 2.9rem;
    margin: 2rem 0;
  }
}

p{
  font-size: 1.8rem;
}

.about-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
  a{
    display: flex;

    color: $color-1;
    font-size: 3rem;
    text-align: center;
    margin: 0 1.5rem;
    padding: 1.25rem;
    border: 4px solid $color-2-dark;
    border-radius: 50%;
    &:hover{
      border-color: $color-2-light;
      transition: all .15s ease-in;
    }
  }
}



//animations

@keyframes fadeInOut{
  0%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}

@keyframes translateRight {
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(7rem);
  }
}

@keyframes translateRightLgDv {
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(9.5rem);
  }
}

@keyframes translateLeftLgDv {
  0%{
    transform: translateX(10rem);
  }
  80%{
    transform: translateX(10rem);
  }

  100%{
    transform: translateX(0);
  }
}


@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
