.main-header-container{
    h1{
      font-size: 2.2rem;
      color: $color-1;
  
  
    }
  
  }
  
  .nav-list{
    h2{
      font-size: 2rem;
      @media(min-width: $md){
        font-size: 2.4rem;
      }
    }
  }
  
  .about-container{
    p{
      font-size: 1.5rem;
    }
  }
  
  
  .project-card{
    .card-header{
      font-size: 1.5rem;
    }
    p{
      font-size: 1.5rem;
    }
  }