@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');

$font-1: 'Open Sans', sans-serif;
$font-2: 'Roboto Mono', monospace;

$color-1: #E7ECEF;
$color-2: #274C77;
$color-3: #6096BA;
$color-4: #A3CEF1;
$color-5: #8B8C89;

$color-2-dark: darken($color-2, 5%);