@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

$font-1: 'Open Sans', sans-serif;

$color-1: #f7f7ff;
$color-2: #c49991;
$color-3: #279AF1;
$color-4: #60656f;
$color-5: #131112;