@import 'variables';



//resets
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $font-2;
  color: $color-1;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}


ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



main{
  background: transparent;
  
  .background-svg{
    width: 100vw;
    height: 150vh;
    position: fixed;
    top: -20rem;
    left: 0;
    z-index: -100;
    
   

    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='850' preserveAspectRatio='none' viewBox='0 0 400 850'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1050%26quot%3b)' fill='none'%3e%3crect width='400' height='850' x='0' y='0' fill='rgba(39%2c 76%2c 119%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c247.971C47.092%2c260.411%2c101.799%2c248.041%2c139.933%2c217.739C177.206%2c188.121%2c190.776%2c137.532%2c198.169%2c90.501C204.394%2c50.899%2c180.534%2c14.4%2c178.186%2c-25.619C175.526%2c-70.967%2c203.731%2c-118.342%2c183.53%2c-159.029C162.405%2c-201.578%2c115.563%2c-225.309%2c70.946%2c-241.619C24.359%2c-258.649%2c-27.161%2c-268.505%2c-74.378%2c-253.308C-121.125%2c-238.263%2c-159.001%2c-201.736%2c-184.109%2c-159.531C-207.032%2c-120.998%2c-208.011%2c-74.641%2c-207.336%2c-29.81C-206.745%2c9.447%2c-200.313%2c48.541%2c-180.464%2c82.415C-161.79%2c114.284%2c-126.534%2c129.569%2c-99.316%2c154.539C-65.13%2c185.901%2c-44.853%2c236.122%2c0%2c247.971' fill='%23214064'%3e%3c/path%3e%3cpath d='M400 1259.3310000000001C477.621 1274.8809999999999 572.0889999999999 1259.007 625.0260000000001 1200.147 678.206 1141.017 631.1 1042.885 660.9590000000001 969.176 688.719 900.648 785.212 867.799 789.557 793.99 793.896 720.293 737.879 654 682.381 605.316 630.567 559.864 561.325 541.7139999999999 492.865 533.729 432.172 526.65 375.668 551.3720000000001 315.592 562.534 247.367 575.21 161.418 551.447 115.84300000000002 603.7760000000001 70.28500000000003 656.085 116.26600000000002 739.24 102.48399999999998 807.224 87.44900000000001 881.389 4.007999999999981 947.763 31.841999999999985 1018.1320000000001 59.329999999999984 1087.626 163.796 1079.315 226.308 1120.27 289.629 1161.755 325.775 1244.461 400 1259.3310000000001' fill='%232d588a'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1050'%3e%3crect width='400' height='850' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;


    @media(min-width: $lg){
      // background: $color-2-dark;
   
    //   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='1200' preserveAspectRatio='none' viewBox='0 0 1600 1200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1037%26quot%3b)' fill='none'%3e%3crect width='1600' height='1200' x='0' y='0' fill='rgba(39%2c 76%2c 119%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c544.267C122.499%2c534.077%2c254.882%2c623.783%2c360.883%2c561.545C466.818%2c499.346%2c463.359%2c346.383%2c521.414%2c238.122C584.682%2c120.14%2c717.178%2c30.74%2c717.317%2c-103.135C717.459%2c-239.269%2c613.795%2c-351.781%2c522.133%2c-452.431C432.201%2c-551.182%2c327.034%2c-639.911%2c197.789%2c-673.607C70.501%2c-706.793%2c-62.978%2c-680.784%2c-187.144%2c-637.353C-306.755%2c-595.515%2c-431.155%2c-538.904%2c-496.941%2c-430.602C-559.828%2c-327.073%2c-529.455%2c-197.064%2c-528.165%2c-75.939C-527.071%2c26.845%2c-508.233%2c122.609%2c-489.974%2c223.764C-465.146%2c361.312%2c-518.617%2c548.464%2c-401.648%2c624.976C-285.004%2c701.275%2c-138.902%2c555.822%2c0%2c544.267' fill='%23214064'%3e%3c/path%3e%3cpath d='M1600 1763.7730000000001C1703.835 1756.934 1796.296 1693.67 1870.151 1620.363 1935.407 1555.59 1962.003 1465.5430000000001 1989.003 1377.652 2012.926 1299.779 2013.989 1221.317 2017.739 1139.938 2022.412 1038.508 2055.0950000000003 934.241 2013.705 841.5219999999999 1966.674 736.1669999999999 1890.429 616.771 1776.387 599.28 1660.4 581.49 1575.36 705.969 1470.268 758.172 1387.256 799.4069999999999 1281.355 801.354 1223.616 873.8620000000001 1166.43 945.6759999999999 1182.875 1047.302 1167.908 1137.875 1152.561 1230.748 1110.432 1321.564 1134.603 1412.54 1160.721 1510.846 1224.78 1596.249 1305.969 1657.522 1390.872 1721.598 1493.862 1770.7640000000001 1600 1763.7730000000001' fill='%232d588a'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1037'%3e%3crect width='1600' height='1200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }

}
}



@import 'nav';
@import 'typography';
@import 'reusable';
@import 'layout';
@import 'projects';
@import 'card';
@import 'about';
@import 'contact';
@import 'footer';


